{% extends 'layout.html' %}

{% block title %}Nodes{% endblock %}

{% block content %}
    <h1>Nodes</h1>
    <div class="card-columns">
        {% for node in nodes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ node.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ node.ip }}</h6>
                <div class="btn-group-vertical btn-group-sm">
                    {% for action in node.actions.all %}
                        <button type="button" class="btn btn-primary action" data-node_id="{{ node.id }}"
                                data-action_id="{{ action.id }}">
                            {{ action.getName }}
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
              <small class="text-muted response"></small>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}